body {
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    
}

h1,
h2,
h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
}

#mapid { height: 480px; }

.list-header {
    font-weight: 600;
    font-size: 1.25rem;
}

li {
    border-radius: 4px;
    color: rgba(25, 25, 25, 90);
    background: #4e9fe0;
    padding: 5px;
    list-style-type: circle;
}

address {
    color: red;
}

html {
    background-color: rgb(139, 214, 233);
}

form {
    margin-bottom: 20px;
    
}